<h2 id="this-weeks-event"><strong>This Week’s Event</strong></h2>
<h3 style="font-size: 14pt;">This <%= locals.weekday %>: <%= locals.date %></h3>

<h3 style="font-size: 14pt;"><strong>Schedule:</strong></h3>
<ul style="font-size: 14pt">
  <%_ for (const item of locals.scheduleItems) { _%>
  <li><%= item.time %> - <%= item.description %></li>
  <%_ } _%>
</ul>
<span style="font-size: 14pt;"><strong>Intermediate teacher:</strong> <%= locals.teacherIntermediate %></span>
<span style="font-size: 14pt;"><strong>Lesson topic:</strong> <%= locals.topicIntermediate %></span>

<span style="font-size: 14pt;"><strong>Beginner teacher:</strong> <%= locals.teacherBeginner %></span>
<span style="font-size: 14pt;"><strong>Lesson topic:</strong> <%= locals.topicBeginner %></span>

<span style="font-size: 14pt;"><strong>DJ:</strong> <%= locals.dj %></span>
<span style="font-size: 14pt;"><strong>Music:</strong> <%= locals.musicType %></span>
<span style="font-size: 14pt;"><strong>Confirm on Facebook:</strong> <a href="<%= locals.facebookEventUrl %>"><%= locals.facebookEventUrl %></a></span>
<%_ if (locals.upcomingEvents.length !== 0) { _%>

<hr />

<h2><strong>Upcoming Events</strong></h2>

<%_ for (const event of locals.upcomingEvents) { _%>
<span style="font-size: 14pt;"><%= event.date %> - <%= event.title %></span>
<%_ } _%>
<%_ } _%>
