<h2 id="this-weeks-event"><strong>This Week’s Event</strong></h2>
<h3 style="font-size: 14pt;">This <%= locals.weekday %>: <%= locals.date %></h3>

<h3 style="font-size: 14pt;"><strong>Schedule:</strong></h3>
<ul style="font-size: 14pt">
  <%_ for (const item of locals.scheduleItems) { _%>
  <li><%= item.time %> - <%= item.description %></li>
  <%_ } _%>
</ul>
<div style="margin: 1em 0; font-size: 14pt;">
  <div><strong>Intermediate teacher:</strong> <%= locals.teacherIntermediate %></div>
  <div><strong>Lesson topic:</strong> <%= locals.topicIntermediate %></div>
  <div><strong>Beginner teacher:</strong> <%= locals.teacherBeginner %></div>
  <div><strong>Lesson topic:</strong> <%= locals.topicBeginner %></div>
</div>
<div style="margin: 1em 0; font-size: 14pt;">
  <div><strong>DJ:</strong> <%= locals.dj %></div>
  <div><strong>Music:</strong> <%= locals.musicType %></div>
  <div><strong>Location:</strong> <%= locals.venue %>, 1626 Willamette Street Eugene, Oregon</div>
  <div><strong>Confirm on Facebook:</strong> <a href="<%= locals.facebookEventUrl %>"><%= locals.facebookEventUrl %></a></div>
</div>
<%_ if (locals.upcomingEvents.length !== 0) { _%>

<hr />

<h2><strong>Upcoming Events</strong></h2>

<div style="margin: 1em 0; font-size: 14pt;">
  <%_ for (const event of locals.upcomingEvents) { _%>
  <div><%= event.date %> - <%= event.title %></div>
  <%_ } _%>
</div>
<%_ } _%>
