doctype html
html(lang="en-us")
  head
    title Hello, world!
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="initial-scale=1")
  body
    h1 Bailonga Templates
    section
      h2 Enter values for this week's event
      form(autocomplete="off")
        label(for="title") Event Title
          input(
            data-bind="textInput: title"
            type="text"
            spellcheck="true"
          )#title
        label(for="intro") Organizer's intro
          textarea(
            data-bind="textInput: intro"
            spellcheck="true"
          )#intro
        label(for="dj") DJ
          input(
            data-bind="textInput: dj"
            type="text"
            spellcheck="false"
          )#dj
        label(for="teacher-beginner") Beginner lesson teacher
          input(
            data-bind="textInput: teacherBeginner"
            type="text"
            spellcheck="false"
          )#teacher-beginner
        label(for="teacher-intermediate") Intermediate lesson teacher
          input(
            data-bind="textInput: teacherIntermediate"
            type="text"
            spellcheck="false"
          )#teacher-intermediate
        label(for="topic-intermediate") Intermediate lesson topic
          input(
            data-bind="textInput: topicIntermediate"
            type="text"
            spellcheck="false"
          )#topic-intermediate
        label(for="cost") Cost
          input(
            data-bind="textInput: cost"
            type="text"
            spellcheck="false"
          )#cost
    section
      h2 Copy the results below
      h3 Facebook Event
      textarea(
        data-bind="textInput: facebook"
        readonly
        spellcheck="false"
      )
